{% extends 'base.html.twig' %}

{% block title %}Hello CompaniesController!{% endblock %}

{% block body %}

<div class="row justify-content-md-center">
  <div class="col-8" style="text-align:center;margin-top:40px">
      <h1>Companies</h1>
  </div>
</div>
<div class="row justify-content-md-center" style="margin-top:6%">
  <div class="col-8">
    <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Company Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody> 
            {% for company in companies %}
                <tr>
                    <td>{{ company.id }}</td>
                    <td>{{ company.name }}</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
  </div>
</div>
{% endblock %}
